.tm-order-profit-page {
  .tm-order-profit-toolbar {
    max-width: 100%;
  }

  .tm-order-profit-filter {
    width: 156px;
    max-width: 100%;
  }

  .tm-order-profit-filter--search {
    width: 210px;
  }

  .tm-order-profit-filter--range {
    width: 250px;
  }
}

@media (max-width: 575px) {
  .tm-order-profit-page {
    .tm-order-profit-toolbar,
    .tm-order-profit-filter,
    .tm-order-profit-filter--search,
    .tm-order-profit-filter--range {
      width: 100%;
    }
  }
}
